<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="/app/logs/nlog-internal.log">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="logDir" value="/app/logs"/>
	<variable name="systemName" value="Taaghcheh" />
	<variable name="logLevelFormat" value= "${pad:padding=-5:inner=${level:uppercase=true}}" />
	<variable name="loggerFromat" value="${pad:padding=-20:inner=${logger:shortName=true}}" />
	<variable name="messageFormat" value="${message} ${exception:format=tostring}" />
	<variable name="layoutFormat" value="${longDate}|${logLevelFormat}|${loggerFromat}|${messageFormat}" />
	<variable name="headerFormat" value="${pad:padCharacter=*:padding=80:inner=*}${newline}${newline}${pad:padding=20:inner= }${uppercase:inner=${systemName}}${newline}${pad:padding=10:inner= }${pad:padCharacter=-:padding=60:inner=-}${newline}${pad:padding=10:inner= }Starting at ${longDate}${newline}${newline}${pad:padCharacter=*:padding=80:inner=*}" />

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="File" name="file" fileName="${logDir}/${systemName}_now.log"
				header="${headerFormat}"
				layout="${layoutFormat}"
				archiveFileName="${logDir}/archive/${shortDate}_${date:HH}_${systemName}.zip"
				enableArchiveFileCompression="true"
				archiveEvery="Hour"
				archiveOldFileOnStartup="true"
				archiveNumbering="Sequence"
				/>

		<target xsi:type="ColoredConsole" name="console" detectConsoleAvailable="true"
				header="${headerFormat}"
				layout="${layoutFormat}"  />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="console" />
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>